@font-face {
    font-family: "dark-graves";
    src: url(./resources/fonts/heading-fonts/DarkGraves-Regular.woff2) format("woff2"),
        url(/resources/fonts/heading-fonts/DarkGraves-Regular.woff) format("woff");
}

@font-face {
    font-family: "another-danger";
    src: url(/resources/fonts/heading-fonts/AnotherDangerDemo.woff2) format("woff2"),
        url(./resources/fonts/heading-fonts/AnotherDangerDemo.woff) format("woff");
}

@font-face {
    font-family: "chapters";
    src: url(./resources/fonts/heading-fonts/ChaptersDEMO.woff2) format("woff2"),
        url(./resources/fonts/heading-fonts/ChaptersDEMO.woff) format("woff");
}

@font-face {
    font-family: "fears";
    src: url(./resources/fonts/heading-fonts/DKFaceYourFears.woff2) format("woff2"),
        url(./resources/fonts/heading-fonts/DKFaceYourFears.woff) format("woff");
}

/* fonts for  normal text below */
@font-face {
    font-family: "james-school";
    src: url(./resources/fonts/text-fonts/JamesSchool.woff2) format("woff2"),
        url(./resources/fonts/text-fonts/JamesSchool.woff) format("woff");
}

@font-face {
    font-family: "fira-code";
    src: url(./resources/fonts/text-fonts/FiraCode-Regular.woff2) format("woff2"),
        url(./resources/fonts/text-fonts/FiraCode-Regular.woff) format("woff");
}

@font-face {
    font-family: "macondo";
    src: url(./resources/fonts/text-fonts/Macondo-Regular.woff2) format("woff2"),
        url(./resources/fonts/text-fonts/Macondo-Regular.woff) format("woff");
}

:root {
    --heading-fonts: "another-danger", "dark-graves", "chapters", "fears";
    --heading-numbers: "chapters", "dark-graves", "fears";
    --text-fonts: "fira-code", "macondo", "james-school";
    --full-size: 100%;
}

html,
body {
    /* height: var(--full-size); */
    width: 100%;
    margin: none;
    padding: none;
    border: none;
}

body {
    background-image: url(./resources/images/ghost-house.png);
    background-size: 100%;
    background-attachment: scroll;
    font-family: var(--text-fonts);
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: stretch;
    justify-content: center;
}

#ghost-icon {
    height: 2em;
    width: 2em;
}

header,
footer {
    height: 3vmin;
    background-color: black;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

header li {
    display: inline;
}

header ul {
    display: flex;
    justify-content: flex-end;
    gap: 4em;
    margin: 15px;
    font-family: var(--heading-fonts);
    color: orange;
    letter-spacing: 2px;
}

header div {
    margin: 15px;
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1.5rem;
    font-family: var(--heading-fonts);
    color: red;
}

#heading-img {
    height: 4.5em;
    width: 4.5em;
}

header span {
    font-family: var(--heading-numbers);
    font-size: 1.5rem;
}

.main-container {
    display: flex;
    flex-direction: column;
}

.heading h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--heading-fonts);
    color: red;
    font-size: 2.5rem;
    letter-spacing: 2px;
}

.heading {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.heading p {
    width: 70%;
    color: white;
    font-weight: bold;
    font-size: 1.3em;
}

.form-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 2vmin;
    padding-top: 0;
    border-top: 5px solid black;

}

.div-left {
    width: 45%;
    flex-direction: column;
    color: white;
    font-weight: bold;
    padding: 10px;
}

.div-right {
    width: 50%;
    border-left: 5px solid black;
}

.div-left,
.div-right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-collapse: collapse;
}

.div-left ol {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: start;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 3vmin;
    padding-top: 10px;
    gap: 20px;
    position: relative;
}

h1 {
    font-family: "fears", "dark-graves";
    color: red;
    font-size: 40px;
}

form>div {
    width: 100%;
    display: flex;
}

form div label {
    font-size: 1.2;
    font-weight: bold;
    display: block;
    margin-left: 10px;
}

form>div>div {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 15px;
}

form div label {
    text-align: left;
    margin: none;
    color: greenyellow;
}

form>div input {
    width: 70%;
    height: 1.5em;
    margin-right: auto;
    border-radius: 5px;
}

form div label:nth-of-type(2) {
    margin-left: auto;
}

form div input:nth-of-type(2) {
    margin-right: 15px;
    margin-left: auto;
}

input::placeholder,
textarea::placeholder {
    font-size: 1.2em;
    margin-left: 5px;
}

div:has(textarea) {
    display: flex;
    flex-direction: column
}

form textarea {
    display: block;
    width: 50%;
    height: 60px;
    resize: none
}

form>div:has(select) {
    display: flex;
    flex-direction: column;
    gap: 5x;
    padding: 15px
}

form select {
    height: 1.5em;
    font-size: 1em;
    display: block;
    width: 50%;
}

form fieldset {
    border: none;
}

form fieldset>legend {
    color: greenyellow;
    font-weight: bold;
    text-align: start;
}

.main-container h1 {
    margin-top: 20px;
}

form button {
    width: max-content;
    background-color: orange;
    font-size: 1.3em;
    padding: 8px;
    font-family: var(--heading-fonts);
    color: red;
    letter-spacing: 2px;
    border-radius: 15px;
}

label[for="user-surname"]::before {
    content: "Fields marked with * are cursed if left empty!😈";
    position: absolute;
    /* color:red; */
    font-size: 1em;
    font-weight: normal;
    top: -30px;
    left: -40px;

}

div:has(label[for="user-surname"]) {
    position: relative;
}

form span {
    color: red;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 15px;
}

footer img {
    width: 50px;
    height: 50px;
}

footer a {
    width: 100%;
    height: 100%;
}